/**
 * Selectors for this file are created in clearsign.js
 */

/* GPG text container. */
.gpg-signed-text {
  border: 1px dotted #cccccc;
  padding: 10px;
  margin: 10px;
}

.gpg-signed-text.verified{
  border: 1px dotted #cccccc;
  padding: 10px;
  margin: 10px;
}

.gpg-signed-text.error{
  border: 1px dotted red;
}

.gpg-signed-text.failed {
  border: 1px dotted #ff0000;
}


.gpg-raw-text {
  display: none;
}


.clearsign-badge {
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
  padding: 1px;
  height: 12px;
  font-size: 9px;
  float: right;
  margin-top: 10px;
  margin-right: -11px;
  cursor: pointer;
}

.clearsign-badge .interior {
  background-color: #aaccee;
  height: 12px;
}

.clearsign-badge .brand {
  float: left;
  border-right: 1px solid #ffffff;
  padding: 2px 5px 2px 5px;
  text-align: right;
  height: 9px;
  color: #ffffff;
}

.clearsign-badge .status {
  padding: 2px 5px 0px 6px;
  text-align: center;
  float: right;
}



.gpg-signed-text.verified .clearsign-badge .status {
  background-color: #ccffcc;
}

.gpg-signed-text.error .clearsign-badge .status {
  background-color: #ff9933;
}

.gpg-signed-text.failed .clearsign-badge .status {
  background-color: #dd0000;
  color: #ffffff;
  font-weight: bold;
}


